{% extends "layouts/layout.index.html" %}
{% block content %}

<div class="background">
    <div class="mainBlock">
        <div class="leftSide">
            <p class="leftTextFirst">Yeni nesil online içecek pazaryeri</p>
            <p class="leftTextSecond">Yakında Sizlerle</p>
        </div>
        <div class="rightSide">
            <img src="../../assets/img/iciniz-logo.png" alt="">
        </div>
    </div>
    <div class="bottomItems">
        <div class="communicationBlock">
        <p class="communication">İletişim : </p><a class="phoneNumber" href="tel:0 (544) 565 18 85">0 (544) 565 18 85</a>
        </div>
        <div class="centerLogo"><img src="../../assets/img/codeck-logo.png" alt=""></div>
        <div class="socialMedia">
            <a class="socialMediaItems" href="">Unogo</a>
            <a class="socialMediaItems" href="">Facebook</a>
            <a class="socialMediaItems" href="">Linkedin</a>
        </div>
    </div>
</div>


{% endblock %}